In [ ]:
# task A

import pandas as pd
import string

df = pd.read_csv('../data/messy_strings.csv')

In [ ]:
# task B

def clean_strings(strings):

    """
    Reformats string to make lowercase, strip spaces, and remove punctuation
    """

    strings = pd.Series(strings)
    strings = strings.str.lower() # lowercase
    strings = strings.str.strip() # strips spaces 
    strings = strings.str.replace(r'\s+', '', regex = True)
    strings = strings.str.replace(r'[^a-z\s]', '', regex = True)

    return(strings)

0         bob
1        dana
2         eve
3       alice
4         bob
5        dana
6     charlie
7       alice
8       frank
9         bob
10        eve
11       dana
12        eve
13    charlie
14        eve
15        bob
16        eve
17      frank
18        eve
19        eve
20        bob
21    charlie
22    charlie
23        eve
24       dana
25    charlie
26      alice
27        eve
28       dana
29      frank
30    charlie
31      alice
32        bob
33      frank
34      alice
35        bob
36    charlie
37        eve
38    charlie
39    charlie
40       dana
41       dana
42       dana
43    charlie
44    charlie
45        bob
46        bob
47        eve
48    charlie
49       dana
Name: raw, dtype: object

In [31]:
# task C:

df['clean'] = clean_strings(df['raw'])

In [35]:
# task D:

count = df['clean'].count()
print(f"Total rows: {count}")

uniqueCount = df['clean'].nunique()
print(f"Unique count: {uniqueCount}")

commonString = df['clean'].value_counts()
print(f"Most common string: {commonString}")

Total rows: 50
Unique count: 6
Most common string: clean
charlie    12
eve        11
dana        9
bob         9
alice       5
frank       4
Name: count, dtype: int64

In [37]:
# task E:

df.to_csv('../data/messy_strings_clean.csv', index = False)